/libacc/acc.cpp filter=lfs diff=lfs merge=lfs -text
/libacc/tests/hello.out-orig filter=lfs diff=lfs merge=lfs -text
/libacc/tests/otcc.out-orig filter=lfs diff=lfs merge=lfs -text
/mksh/src/check.t filter=lfs diff=lfs merge=lfs -text
/mksh/src/edit.c filter=lfs diff=lfs merge=lfs -text
/libs/utils/ResourceTypes.cpp filter=lfs diff=lfs merge=lfs -text
/adb/sysdeps_win32.cpp filter=lfs diff=lfs merge=lfs -text
